.container {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr;
	grid-auto-rows: 100px;
}
.title{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-auto-rows: auto;
}
#currentWeather{
	justify-self:end;
}
.dataTable{
	grid-column-start: 1;
	grid-column-end: 2;
}
table, th, td{
	border: 1px solid black;
}
th {
  text-align: left;
}
#chart1{
	padding: 5px;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
}
#chart2{
	padding: 5px;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
}
#chart3{
	padding: 5px;
	grid-row-start: 5;
	grid-row-end: 10;
	grid-column-start: 2;
	grid-column-end: 3;
}
#chart4{
	padding: 5px;
	grid-row-start: 5;
	grid-row-end: 10;
	grid-column-start: 3;
	grid-column-end: 4;
}
